@import url('https://fonts.googleapis.com/css?family=Montserrat');
.orpagebody {
    font-family: "Montserrat";
       font-family: 'Montserrat', sans-serif;
  }
  .orderprofilepageheader
  {
    background: url("../../assets/imgs/login_bg.png") no-repeat fixed !important;
    background-size: cover !important;
    height:50px;
  }
  .orderprofilelblcolor
  {
    font-weight:bold;
    font-size: 1.2em;
    text-indent: 6px;
    
  }
  
  .orderprofiletitleimg
  {
    
    margin-left:10px;
    float: left;
    height: 40px;
    margin-top:5px;
    
  }
  .orderprofilettile
  {
    color:#468999;
    font-weight:bold;
    text-align: left;
    vertical-align: middle; 
    margin: auto;
      
  }
  .orderprofilettilesmall
  {
    color:#468999;
    font-weight:bold;
    text-align: left;
    vertical-align: middle; 
     margin: auto;
    font-size:1.2em;
    text-indent: 4px;
  
  }
  .orderprofiletxtcolor
  {
    color:#000000;
    font-weight:bold;
      font-size:1.2em;
      font-weight: bold;
      }
  .orderprofileodd
  {
    padding: 4px;
     }
  .orderprofilebox
  {
      
    background-color:#468999;
    color: #ffffff;
   
  }
  .orderprofilebox1
  {
       border: 1px solid #468999; 
    
   
  }
  .orderregbtnbgcolor
  {
      background-color: #468999;
      color:#ffffff;
      font-weight: bold;
      border-radius:20px;      
      padding: 5px;
  }
  .orderregcolbgcolor
{
    color: #333333;
 }

.orderregcolborder1
{
  border: 1px solid #468999;
  border-radius: 10px;
  background-color: #468999;
  }


.hr {
  border-bottom: 1px solid #ccc;
 padding: 5px;
  width: 100%;
}

.orderregcolbgcolor
{
  background-color: #468999;
  color: #ffffff;
  

}
.orderregcolborder
{
  border: 1px solid #468999;
}
.colradius
{
  border-radius: 10px;
}
.orderprofilespanlabel
{
 
  text-align: center; 
    color:#ffffff;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.orderprofileappbtn
{
  background-color:#468399;
  	border-radius: 20px;
  	
      font-size: 1em;
    vertical-align: middle;
      margin-left: auto;
      margin-right: auto;
      
      width: 100%;
      

}
