<div >
  <ion-list class="menupagebody">
    <ion-list-header>
      <h3 style="font-weight:bold;font-size:1.4em;color:#468999;">Hi ,<span style="color:#000000;
      font-weight:bold;"> {{localsessionmobno}}</span></h3>
    </ion-list-header>
   
        <ion-item  class="menutitle" (click)="UserHomebtn()">Availability Order</ion-item>
    <ion-item  (click)="OrderTrackbtn()" class="menutitle">Order Track</ion-item>
   
       <ion-item  class="menutitle" (click)="ContactUs()">Contact Us</ion-item>
    <ion-item  class="menutitle" (click)="LogOut()">Logout</ion-item>
  </ion-list>
</div>